.heading{
    background-color:ivory;
    color: black;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
}
.buttonins{
    background-color:black;
    color: ivory;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;  
    float:right;
    margin-right: 20px;
    float:inline-end;
    
}
#start_button{
    background-color:ivory;
    color: black;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}
h3{
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}